body{
    margin: 0px;
    font-family: Work Sans;
}
.container{
    width: 100%px;
    height: 1300px;
    background: rgba(255, 144, 14, 0.10);
}
.head{
    position: relative;
    color: var(--dark-01, #131313);
    display: inline;
    margin-left: 180px;
    top: 50px;
    font-size: 40px;
    font-weight: 700;
}
.nav{
    position: relative;
    top: 46px;
    left: 500px;
    display: inline;
}
.nav-items{
    text-decoration: none;
    color: var(--dark-02, #424242);
    padding: 25px;
}
.banner{
    width: 1250px;
    position: relative;
    margin-top: 400px;
    font-size: 18px;
}
.headline{
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin: 0px;
    position: relative;
    top: 205px;
}
.lorem{ 
    position: relative;
    top: 225px;
    margin: auto;
    width: 800px;
    color: var(--dark-03, #727272);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.Explore-More{
    padding: 25px 21px 24px 20px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    text-decoration: none;
    position: relative;
    bottom: 700px;
    left: 660px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
.feature-sec1{
    width: 1150px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}
.images{
    width:475px ;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img4{
    width: 270px;
}
.Explore-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:450px;
}
.h1{
    color: var(--dark-03, #727272);
    font-size: 43px;
    font-weight: 500;
}
.of-our{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.lorem-2{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.Explore-More-2{
    width: 110px;
    padding: 25px 21px 24px 20px;
    border-radius: 8px;
    background: #FF900E;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
.feature-sec2{
    width: 1200px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}
.feture-box{
    width: 455px;
    height: 135px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature{
    color: var(--dark-01, #131313);
    font-size: 15px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 20px;
}
.There{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 16px;
}
.enjoy{
    width: 400px;
    border-left:5px solid #FF900E; 
    color: var(--dark-01, #131313);
    font-size: 40px;
    font-weight: 700;
    padding-left: 15px;
}
.image1{
    width: 600px;
}
.there-2{
    width: 455px;
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 16px;
}
.year{
    text-decoration: none;
    background-color:#FF900E;
    display: block;
    width: 300px;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 30px;
    border-radius: 8px;
    margin-left:45% ;
}
.year-span{
    font-size: 65px;
    font-weight: 700;
}
.facts-section{
    width: 1200px;
    margin: 230px auto;
}
.Facts{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 900;
}
.about-facts{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    width: 550px;
}
.achivement{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.for-all{
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 220px;
    height: 210px;
    line-height: 0px;
    margin-top: 100.8px;
    margin-left: 30px;
}
.icons{
    padding-top: 30px;
}
.numbers{
    color: var(--dark-02, #424242);
    font-size: 45px;
    font-weight: 600;
}
.footer-section{
    width: 1200px;
    margin: auto;
    text-align: center;
}
.footer-h1{
    color: var(--dark-01, #131313);
    font-weight: 900;
    font-size: 45px;
}
.footer-p{
    margin: auto;
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 550px;
}
.sponsors{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.items{
    width: 150.757px;
    height: 50px;
    flex-shrink: 0;
    mix-blend-mode: luminosity;
}
.footer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 100px;
    margin-left: auto;
    margin-bottom: 200px;
    width: 1200px;
    border-radius: 8px;
    background: #FFF4E7;
}
.footer-span{
    color: var(--dark-02, #424242);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
@media only screen and (max-width:668px) {
    .container{
        width: 100%;
        height: 900px;
    }
    .nav {
        top: 30px;
        left: 25px;
        width: 90%;
    }
    .nav-head{
        display: flex;
        flex-direction: column-reverse;
    }
    .nav-items{
        padding: 6px;
        font-size: 18px;
    }
    .head {
        margin-left: 20%;
        top: 50px;
        font-size: 35px;
    }
    .headline {
        font-size: 40px;
        font-weight: 700;
        margin: 0px;
        top: 300px;
    }
    .lorem {
        top: 330px;
        margin: auto;
        width: 85%;
        text-align: center;
        font-size: 15px;
    }
    .Explore-More {
        padding: 25px 21px 24px 20px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF900E;
        text-decoration: none;
        position: relative;
        top: 400px;
        bottom: 0px;
        left: 32%;
        font-size: 15px;
    }
    .banner {
        width:100%;
        bottom: 600px;
        margin-top: 400px;
        font-size: 18px;
    }
    .images{
        width: 90%;
        margin: auto;
    }
    .feature-sec1{
        flex-direction: column;
        width: 100%;
    }
    .img4{
        width: 160px;
    }
    .h1 {
        padding-left: 10px;
        border-left:5px solid #FF900E ;
        font-size: 35px;
        width: 90%;
        transform: translate(20px);
    }
    .Explore-part{
        width: 100%;
    }
    .lorem-2 {
        width: 90%;
        transform: translate(20px);
    }
    .Explore-More-2{
        margin-top: 8%;
        margin-left: 30%;
    }
    .feature-sec2 {
        width: 100%;
        flex-direction: column-reverse;
    }
    .image1{
        transform: translate(18px);
        width: 90%;
    }
    .enjoy {
        margin-left: 5%;
        width: 80%;
        border-left: 5px solid #FF900E;
        font-size: 35px;
    }
    .there-2 {
        width: 89%;
        font-size: 15px;
        line-height: 20px;
    }
    .facts-section{
        margin: 150px auto;
    }
    .There{
        line-height: 20px;
    }
    .feture-box {
        margin:auto;
        padding-bottom:3% ;
        width: 90%;
        height: 100%;
    }
    .year {
        transform: translate(0px,-40px);
        font-size: 10px;
        width: 20%;
        padding-left:7% ;
        padding-top: 7%;
        padding-bottom: 4%;
        margin-left: 34%;
        }
    .year-span {
        font-size: 15px;
    }
    .Facts {
        padding-left: 5%;
        border-left: 5px solid #FF900E;
        font-size: 36px;
    }
    .facts-section{
        width: 90%;
    }
    .about-facts {
        font-size: 15px;
        width: 90%;
        line-height: 20px;
    }
    .achivement{
        grid-template-columns: repeat(2,1fr);
        width: 85%;
        margin: 50px auto;
        gap: 5%;
    }
    .for-all{
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .icons{
        width: 30%;
        padding-top: 5%;
    }
    .numbers{
        font-size: 20px;
    }
    .for-all h4{
        font-size: 10px;
    }
    .footer-section{
        width: 90%;
    }
    .sponsors{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-div {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
    }
    .footer-h1{
        font-size: 35px;
    }
    .footer-p{
        width: 85%;
        font-size: 15px;
    }
    .footer-span{
        font-size: 15px;
    }
    .items{
        width: 70%;
        height: inherit;
        margin-bottom: 20%;  
    }
    .transform{
        transform: translate(65%);
    }
}